# /ventoy/ventoy_grub.cfg
# 自定义菜单入口界面

menuentry "VMD Off Mode" --class=custom {
    configfile /ventoy/grub/ventoy_vmd-off.cfg
}

menuentry "VMD & NVIDIA Off Mode" --class=custom {
    configfile /ventoy/grub/ventoy_vmd-nvidia-off.cfg
}

menuentry "Max Compatibility (VMD/NVIDIA/ASPM Off)" --class=custom {
    configfile /ventoy/grub/ventoy_vmd-nvidia-aspm-off.cfg
}

menuentry "<-- Return to Main Menu" --class=vtoyret VTOY_RET {
    echo 'Returning to Ventoy main menu...'
}