# --- ventoy_vmd-off.cfg ---
# This file serves as a template file for disabling VMD.
# Ensure encoding is UTF-8 and newline character is LF

# Fedora relies on CDLABEL for mounting; here, the actual tags retrieved by DiskGenius are used.
# Ubuntu relies on casper-iso-scan for mounting; here, the actual labels retrieved by DiskGenius are used to ensure stability.

# Automatically matches Fedora 44 (with special optimizations for VMD and IOMMU)
menuentry "Fedora 44 (Safe: VMD Off)" --class fedora {
    search --set=root -f /Fedora-Workstation-Live-44-1.7.x86_64.iso
    loopback Fedora44 /Fedora-Workstation-Live-44-1.7.x86_64.iso
    linux (Fedora44)/boot/x86_64/loader/linux root=live:CDLABEL=Fedora-WS-Live-44 rd.live.image quiet rhgb rd.driver.pre=nvme vmd.disable=1 pci=noaer \
            intel_iommu=off nvme_load=YES nvme_core.default_ps_max_latency_us=0 \
            modprobe.blacklist=vmd
    initrd (Fedora44)/boot/x86_64/loader/initrd
}

# Automatically matches Fedora 43 (with special optimizations for VMD and IOMMU)
menuentry "Fedora 43 (Safe: VMD Off)" --class fedora {
    search --set=root -f /Fedora-Workstation-Live-43-1.6.x86_64.iso
    loopback Fedora43 /Fedora-Workstation-Live-43-1.6.x86_64.iso
    linux (Fedora43)/boot/x86_64/loader/linux root=live:CDLABEL=Fedora-WS-Live-43 rd.live.image quiet rhgb rd.driver.pre=nvme vmd.disable=1 pci=noaer \
            intel_iommu=off nvme_load=YES nvme_core.default_ps_max_latency_us=0 \
            modprobe.blacklist=vmd
    initrd (Fedora43)/boot/x86_64/loader/initrd
}

# Automatically match Ubuntu 24.04.4 (using Ubuntu's native casper scanning logic)
menuentry "Ubuntu 24.04.4 (Safe: VMD Off)" --class ubuntu {
    search --set=root -f /ubuntu-24.04.4-desktop-amd64.iso
    loopback Ubuntu24 /ubuntu-24.04.4-desktop-amd64.iso
    linux (Ubuntu24)/casper/vmlinuz boot=casper iso-scan/filename=/ubuntu-24.04.4-desktop-amd64.iso quiet splash rd.driver.pre=nvme vmd.disable=1 pci=nocrs \
            intel_iommu=off nvme_load=YES nvme_core.default_ps_max_latency_us=0 \
            modprobe.blacklist=vmd
    initrd (Ubuntu24)/casper/initrd
}

# Automatically match Ubuntu 22.04.5 (using Ubuntu's native casper scanning logic)
menuentry "Ubuntu 22.04.5 (Safe: VMD Off)" --class ubuntu {
    search --set=root -f /ubuntu-22.04.5-desktop-amd64.iso
    loopback Ubuntu22 /ubuntu-22.04.5-desktop-amd64.iso
    linux (Ubuntu22)/casper/vmlinuz boot=casper iso-scan/filename=/ubuntu-22.04.5-desktop-amd64.iso quiet splash rd.driver.pre=nvme vmd.disable=1 pci=nocrs \
            intel_iommu=off nvme_load=YES nvme_core.default_ps_max_latency_us=0 \
            modprobe.blacklist=vmd
    initrd (Ubuntu22)/casper/initrd
}